h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0; }

.header {
  background: #fcfcfd linear-gradient(116deg, #56ccf2 0%, #56ccf2 77.5%, #fcfcfd 77.55%, #fcfcfd 100%) 0 0/100% 848px no-repeat; }

.header__content {
  top: 0;
  width: 95%;
  height: 100%;
  position: relative;
  padding: 60px 10% 0; }

.navigation__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-decoration: none; }

.navigation-list li {
  list-style-type: none; }

.nav-link {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px 0;
  position: relative;
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 150%; }
  .nav-link:focus {
    outline: none; }
  @media only screen and (max-width: 770px) {
    .nav-link {
      width: 100%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .nav-link:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background: #fcc304;
    border-radius: 32px;
    width: 0;
    -webkit-transition: width 0.3s;
    transition: width 0.3s; }
  .nav-link:hover:after {
    width: 100%; }

.logo {
  color: #fff;
  text-decoration: none;
  font-size: 32px;
  font-weight: 700;
  font-family: Muli, sans-serif;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  .logo:focus {
    outline: none; }
  .logo:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    color: #dfdedb; }

.nav {
  width: 55%; }

.contacts a {
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #56ccf2;
  margin: 0;
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear; }

.hire-link a {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px; }
  .hire-link a:focus {
    outline: none; }

.agency {
  padding: 30px 0 0 79px; }

.agency-name {
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 150%;
  color: #fff; }

.agency-description {
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  color: #fff; }

.relevant__button {
  height: 56px;
  width: 226px;
  border-radius: 64px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  cursor: pointer;
  -webkit-transition: background-color 0.4s, color 0.4s;
  transition: background-color 0.4s, color 0.4s;
  outline: none;
  border: 1px solid #fff;
  margin-top: 60px; }
  .relevant__button--white {
    background-color: #fff;
    color: #253757; }
    .relevant__button--white:hover {
      background-color: #dfb93c;
      color: #fff;
      border: 1px solid #dfb93c; }
  .relevant__button--link {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.slider {
  max-width: 1140px;
  position: relative;
  margin-bottom: 50px;
  margin-top: 90px; }
  .slider__image-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    max-height: 640px; }
  .slider__image {
    display: block;
    max-width: 100%;
    width: 100%; }
  .slider__buttons {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #fcc304;
    border-radius: 50px;
    overflow: hidden; }
    @media only screen and (max-width: 1246px) {
      .slider__buttons {
        left: 50%;
        top: initial;
        bottom: 0;
        -webkit-transform: translate(-50%, 50%);
                transform: translate(-50%, 50%); } }
  .slider__prev-button, .slider__next-button {
    padding: 0;
    height: 64px;
    width: 81px;
    background: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    outline: none; }
  .slider__next-button {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    .slider__next-button:hover {
      background-color: #e98b21; }
    .slider__next-button:active {
      -webkit-transform: translateX(2px);
              transform: translateX(2px); }
  .slider__prev-button {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    .slider__prev-button:hover {
      background-color: #e98b21; }
    .slider__prev-button:active {
      -webkit-transform: translateX(-2px);
              transform: translateX(-2px); }
  .slider__info {
    position: absolute;
    left: 98px;
    bottom: 86px;
    max-width: 264px; }
  .slider__text {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 900;
    color: #fff;
    margin: 0; }
    @media only screen and (max-width: 600px) {
      .slider__text {
        font-size: 14px;
        font-weight: 700; } }

.soc {
  list-style: none;
  text-transform: uppercase;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  right: -83px;
  font-size: 13px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 2px;
  font-family: Muli, sans-serif;
  font-style: normal; }
  @media only screen and (max-width: 1250px) {
    .soc {
      display: none; } }
  .soc-item:not(:first-child) {
    margin-top: 85px; }
  .soc-link {
    text-decoration: none;
    color: #253757;
    display: block;
    padding: 0 5px;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .soc-link:focus {
      outline: none; }
    .soc-link--facebook:hover {
      color: #4271d6; }
    .soc-link--twitter:hover {
      color: #1da1f2; }
    .soc-link--instargam:hover {
      color: #e1306c; }

.title {
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  color: #56ccf2;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .title:before {
    content: "";
    display: block;
    width: 21px;
    height: 21px;
    margin-right: 16px;
    background: url("../images/dotted-blue.svg") 50% 50% no-repeat; }
  .title--without-icon {
    font-size: 12.6px;
    margin-bottom: 4px; }
    .title--without-icon:before {
      content: none; }
  .title--message {
    margin: 0 0 88px; }
  .title--secondary {
    color: #fff; }
    .title--secondary:before {
      background: url("../images/dotted-white.svg") 50% 50% no-repeat; }

.main {
  margin-top: 150px; }

.welcom__container {
  width: 50%;
  height: 150px;
  display: block;
  margin: 0 auto; }

.welcom__container img {
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 16px; }

.header-welcome {
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #56ccf2; }

.header-welcome__text {
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 150%;
  color: #253757;
  float: left; }

.company-role {
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 100%;
  text-align: center;
  color: #253757; }

.container {
  padding: 70px 66px 90px 138px; }

.company-role__sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 70px; }

.role-section img {
  display: block;
  margin: 0 auto;
  margin-bottom: -60px; }

.role-section {
  padding: 5px 100px 0 15px; }

.role-title {
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 19.6px;
  line-height: 140%;
  color: #253757; }

.role-text {
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #334563;
  mix-blend-mode: normal; }

.process-title {
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 140%;
  color: #253757; }

.process-text img {
  float: left;
  margin-right: 10px; }

.process-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 160px; }

.process-text {
  width: 28%;
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #334563;
  mix-blend-mode: normal; }

.process-number__blocks {
  width: 52%;
  display: grid;
  grid-template-columns: 240px 240px;
  grid-gap: 90px;
  grid-template-rows: 246px 74px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-top: 120px; }

.blue-card {
  margin-top: 96px; }

.green-card {
  margin-top: 40px; }

.red-card {
  margin-top: -35px; }

.number {
  width: 240px;
  height: 256px;
  background: #fff;
  -webkit-box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
          box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.number p {
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12.6px;
  line-height: 150%;
  text-align: center;
  color: #253757;
  mix-blend-mode: normal; }

.order {
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  margin-top: 15px; }

.circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.5;
  -ms-flex-item-align: center;
      align-self: center;
  position: absolute; }

.one {
  color: #56ccf2; }

.two {
  color: #fcc304; }

.three {
  color: #03d542; }

.four {
  color: #f25656; }

.features {
  width: 100%;
  height: 976px;
  background: url("../images/office-photo.png") no-repeat right, #56ccf2; }

.features-title {
  width: 28%; }

.features-blocks {
  width: 412px; }

.features-title img {
  float: left;
  margin-right: 10px; }

.features-name {
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff; }

.features-text {
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  mix-blend-mode: normal;
  margin-left: 110px; }

.features-content {
  padding: 200px 0 0 200px; }

.announce-icon {
  margin-top: 70px; }

.announce-icon img {
  float: left;
  margin-top: 12px; }

.testinonials {
  padding: 165px 66px 20px 120px; }

.person {
  width: 314px;
  height: 464px;
  background: #fefefe;
  -webkit-box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
          box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 130px;
  padding: 0 10px; }

.person-color {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 500px;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  height: 162px;
  width: 64px;
  -ms-flex-item-align: center;
      align-self: center; }

.blue {
  background-color: #56ccf2; }

.yellow {
  background-color: #fcc304; }

.green {
  background-color: #03d542; }

.red {
  background-color: #f25656; }

.person-color img {
  -webkit-transform: rotate(-22deg);
          transform: rotate(-22deg);
  margin-top: 50px; }

.quotation {
  font-family: Muli, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  color: #253757;
  mix-blend-mode: normal; }

.divide {
  width: 64px;
  height: 2px;
  background: #56ccf2;
  border-radius: 500px;
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
  border: 1px solid #56ccf2; }

.person-name {
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #152032; }

.person-position {
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0; }

.vision {
  width: 100%;
  height: 700px;
  text-align: center;
  position: relative;
  padding-top: 100px; }

.vision-title {
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  color: #253757; }

.vision-text {
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #334563; }

.primary-button {
  width: 226px;
  height: 56px;
  background: #2f80ed;
  border-radius: 64px;
  border: 2px solid #2f80ed;
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 1px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  transition-property: background-color, box-shadow, -webkit-box-shadow; }

.primary-button:hover {
  -webkit-box-shadow: 0 0 20px 0 rgba(38, 35, 23, 0.4);
          box-shadow: 0 0 20px 0 rgba(38, 35, 23, 0.4); }

.brace {
  position: absolute; }

.green-b.right {
  left: 80%;
  top: 106px; }

.pink-s.top {
  left: 89%;
  top: 60px; }

.yellow-m {
  left: 91%;
  top: 243px; }

.red-m.right {
  left: 76%;
  top: 350px; }

.blue-b {
  left: 84%;
  top: 410px; }

.pink-s.bottom {
  left: 62%;
  top: 511px; }

.yellow-s.top {
  left: 30%;
  top: 60px; }

.red-m.left {
  left: 16%;
  top: 72px; }

.green-b.left {
  left: 18%;
  top: 235px; }

.yellow-s.bottom {
  left: 32%;
  top: 415px; }

.blue-s {
  left: 5%;
  top: 325px; }

.pink-m {
  left: 8%;
  top: 484px; }

.footer {
  padding: 30px 220px; }

.form {
  margin-top: 75px; }

.form__field:nth-child(3) {
  margin-bottom: 60px; }

.input {
  border: none;
  width: 100%;
  margin: 25px 0;
  outline: none;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 18px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 17px;
  line-height: 150%;
  font-family: Muli, sans-serif;
  font-style: normal;
  -webkit-transition: all 0.7s;
  transition: all 0.7s; }
  .input:focus {
    width: 100%;
    border-bottom: 1px solid #56ccf2; }

.form:last-child {
  margin-bottom: 100px; }

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.help-text {
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 12.6px;
  line-height: 150%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #334563;
  margin-top: 40px; }

.contacts {
  margin-top: 0; }

.contacts a:hover {
  color: #2f80ed; }

.sm-icons {
  margin-top: 50px; }

.sm-icons img {
  margin-right: 45px;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

.footer-title img {
  float: left;
  margin-right: 10px; }

.sm-icons img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer; }

.bottom-section {
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #253757;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer; }

.bottom-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%; }

.bottom-nav li {
  list-style-type: none;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.bottom-nav li:hover {
  color: #2f80ed;
  -webkit-transform: scale(1.1);
          transform: scale(1.1); }

.author {
  width: 30%; }

.bottom-block {
  width: 60%; }

.contact-block {
  width: 29%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.message-block {
  width: 40%; }

@media screen and (max-width: 1400px) {
  .process-text {
    width: 35%; }
  .process-number__blocks {
    width: 60%; }
  .features-content {
    padding: 189px 0 0 100px; }
  .footer {
    padding: 30px 50px; } }

@media screen and (max-width: 1280px) {
  .header__content {
    width: 100%;
    padding: 60px 0 0 60px; }
  .agency-name {
    font-size: 28px; }
  .agency-description {
    font-size: 20px; }
  .welcom__container {
    width: 70%; }
  .container {
    padding: 120px 10px 90px 50px; }
  .role-section {
    padding: 5px 67px 0 15px; }
  .company-role__sections {
    padding-top: 40px; }
  .process-text {
    width: 50%; }
  .testinonials {
    padding: 96px 22px 20px 33px; }
  .person {
    margin-right: 56px; }
  .vision-title {
    font-size: 40px; }
  .vision-text {
    font-size: 19px; }
  .process-title {
    font-size: 26px; } }

@media only screen and (max-width: 1100px) {
  .slider__button {
    height: 80px;
    width: 151px; }
  .slider-left {
    left: 33%;
    top: 55%; }
  .slider-right {
    left: 44%;
    top: 55%; }
  .vertical-text {
    right: 34%;
    top: 66%;
    -webkit-transform: none;
            transform: none; }
  .main {
    margin-top: 150px; }
  .process-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .process-number__blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 0;
    width: 100%; }
  .number {
    margin: 20px 0 0; }
  .features {
    background: #56ccf2;
    height: 800px; }
  .features-content {
    padding: 74px 0 0 100px; }
  .features-title {
    width: 50%; }
  .contact-block {
    width: 50%; } }

@media only screen and (max-width: 900px) {
  .navigation__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .navigation-list {
    padding-left: 0; }
  .logo {
    width: auto; }
  .nav {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .agency {
    padding: 80px 0 0; }
  .agency-name {
    font-size: 23px; }
  .agency-description {
    font-size: 16px; } }

@media only screen and (max-width: 800px) {
  .company-role__sections {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .role-section {
    padding: 0; }
  .process-text {
    width: 70%; }
  .features-title {
    width: 66%; }
  .green-b {
    display: none; }
  .process-title {
    font-size: 18px; }
  .bottom-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .bottom-block {
    width: 100%;
    margin-top: 20px; }
  .author {
    width: auto; } }

@media only screen and (max-width: 700px) {
  .header__content {
    background: #56ccf2; }
  .header__photo {
    display: none; }
  .main {
    margin-top: 100px; }
  .relevant__button {
    margin-top: 0; }
  .agency {
    padding: 30px 0 0 20px; }
  .red-m,
  .pink-m,
  .blue-b {
    display: none; }
  .pink-s.bottom {
    left: 62%;
    top: 370px; }
  .vision-title {
    font-size: 32px; }
  .vision-text {
    font-size: 16px; }
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .message-block {
    width: auto;
    -ms-flex-item-align: center;
        align-self: center; }
  .contact-block {
    -ms-flex-item-align: center;
        align-self: center;
    width: 50%; }
  .contacts {
    font-size: 18px; }
  .form {
    margin-top: 20px; }
  .vision {
    height: 500px; }
  .bottom-section {
    margin-top: 40px; }
  .sm-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0; } }

@media only screen and (max-width: 580px) {
  .header__content {
    width: 100%;
    padding: 60px 2% 0; }
  .agency-name {
    font-size: 18px; }
  .agency-description {
    font-size: 12px; }
  .nav {
    width: auto; }
  .navigation-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .navigation__menu {
    height: auto; }
  .hire-link {
    margin-left: -22px; }
  .logo {
    -ms-flex-item-align: baseline;
        align-self: baseline;
    margin-left: -34px; }
  .header-welcome__text {
    margin-bottom: 70px;
    font-size: 16px; }
  .process-text {
    width: 100%; }
  .features-content {
    padding: 74px 0 0 50px; }
  .features-title {
    width: 80%; }
  .contact-block {
    width: auto; }
  .contacts {
    font-size: 16px; }
  .message-block {
    width: 100%; }
  .bottom-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .bottom-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto; }
  .bottom-nav li {
    padding-bottom: 20px; } }

@media only screen and (max-width: 450px) {
  .features-content {
    padding: 74px 0 0 20px; }
  .features-text {
    margin-left: 76px; }
  .features-blocks {
    width: auto; }
  .process-title {
    font-size: 27px; } }

/*# sourceMappingURL=main.css.map */
